## Data prep kit
data-prep-toolkit-transforms==0.2.1.dev3
data-prep-toolkit-transforms-ray==0.2.1.dev3

## This is for testing
# git+https://github.com/IBM/data-prep-kit.git@t2#subdirectory=data-processing-lib/python
# git+https://github.com/IBM/data-prep-kit.git@t2#subdirectory=transforms/packaging/python
# git+https://github.com/IBM/data-prep-kit.git@t2#subdirectory=data-processing-lib/ray
# git+https://github.com/IBM/data-prep-kit.git@t2#subdirectory=transforms/packaging/ray




# Milvus
pymilvus
pymilvus[model]

# datasets
datasets

## Torch and enbeddings
torch
sentence-transformers

## --- Parquet
pandas
pyarrow

## --- Replicate
replicate

## --- llama-index

llama-index

llama-index-embeddings-huggingface

llama-index-llms-replicate

llama-index-vector-stores-milvus



# --- Utils
python-dotenv==1.0.0
humanfriendly

## --- Jupyter Utils
jupyterlab
ipykernel
ipython
ipywidgets
IProgress
chardet==5.2.0
charset-normalizer==3.3.2
